.popup__content-image {
    max-width: 80vw;
    max-height: 80vh;
    position: relative;
    box-sizing: border-box;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    
}